@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Home", "Home", "Atm", new { creditCardId = ViewBag.CreditCardId })</li>
    <li>@Html.ActionLink("Balance", "Balance", "Atm", new { creditCardId = ViewBag.CreditCardId })</li>
    <li>@Html.ActionLink("WithDrawal", "WithDrawal", "Atm", new { creditCardId = ViewBag.CreditCardId }) </li>
</ul>

<div class="tab-content">
    <h2>WithDrawal</h2>

    <form method="post" id="WithDrawal" action='@Url.Action("WithDrawal")'>
        <fieldset>Enter the amount</fieldset>
        <div id="presentationCreditCard">
            <input type="hidden" name="creditCardId" value='@ViewBag.CreditCardId'/>
            <label for="txt_amount">Number</label>
            <input type="number" id="txt_amount" name="amount">
            <input type="reset" id="btnClearCreditCard" value="Clear" class="btn btn-danger" />
            <input type="submit" id="btnSubmitCreditCard" value="Ok" class="btn btn-default" />
        </div>
    </form>
</div>

