@model IEnumerable<AtmExercise.Model.Operation>

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Home", "Home", "Atm", new { creditCardId = ViewBag.CreditCardId })</li>
    <li>@Html.ActionLink("Balance", "Balance", "Atm", new { creditCardId = ViewBag.CreditCardId })</li>
    <li>@Html.ActionLink("WithDrawal", "WithDrawal", "Atm", new { creditCardId = ViewBag.CreditCardId }) </li>
</ul>

<div class="tab-content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detail)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detail)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
